<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
</head>

<body>
    <div class="erro">
        <div class="alert alert-danger">
            <%= mensagem %>
        </div>
    </div>

    <form action="/validar" method="post">
        <label>Email:</label>
        <input type="email" name="login" value="" />
        <label>Senha:</label>
        <input type="password" name="senha" />
        <input type="submit" value="Login">
    </form>
</body>

</html>